section#services
  a(name="service")
  .container-fixed
    .container
      h2 Услуги
      .serv_info
        .serv_list
          .list
            .icon_1
            .text!="<a href='rds.doc' download>Технический надзор</a> за процессом строительства объектов"
          .list
            .icon_2
            .text!="<a href='tech_obs.pdf' download>Техническое обследование</a> зданий и сооружений"
          .list
            .icon_3
            .text!="Аттестация ИТР"
        .for_who
          h3!="Для кого <i>?</i>"
          p="Малые и крупные объекты строительства от малоэтажных домов до промышленных объектов"
